
# composer binaries
composer.phar

# local .env
.env.local

# production and testing environments
.env.prod
.env.test

# symfony
var/
vendor/

public/uploads/

dentaltea-a37e7-e99ed76884d0.json
 

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/assets/
npm-debug.log
yarn-error.log
public/assets/*
public/assets/fonts
*.code-workspace

###< symfony/webpack-encore-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
