{% extends 'base.html.twig' %}

{% block title %}Citas{% endblock %}

{% block body %}
    
<section class="list {% if list.view == 'grid' %}view-grid{% else %}view-table{% endif %}">
    
    <div class="table-wrapper">
        <div class="table-title mb-4">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="d-inline-block">Citas</h2> <a href="{{ app.request.getSchemeAndHttpHost() }}/admin/citas/nueva" class="btn-new btn btn-primary"><i class="material-icons">&#xE147;</i> <span>Añadir cita</span></a>
                </div>
                
            </div>
        </div>
            {% for flash_message in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">
                    {{ flash_message }}
                </div>
            {% endfor %} 
        {% include 'admin/dates/parts/toolbar.html.twig' %}
        
        {% include 'admin/dates/parts/table.html.twig' %}

        {% include 'admin/dates/parts/grid.html.twig' %}

        {% include 'admin/dates/parts/pagination.html.twig' %}
    </div>

</section>

{% endblock %}
