.sequences-list .item-sequence{
    display: block;
    text-align: center;
    cursor: pointer;

    position: relative;

    .view-item{
        position: absolute;
        top: 5px;
        left: 20px;
        display: none;
        color: $primary;
        opacity: 1;
    }

    &:hover{
        .view-item{
            display: block;
            z-index: 99;
        }
    }

    label{
        text-align: left;
        margin-bottom: 10px;
    }
    .sequence-thumb{
        display: flex;
        background: rgba(255,255,255,0.8);
        width: 100%;
        min-height: 169px;
        flex-wrap: wrap;
        border: solid 2px #ddd;
        box-shadow: 0px 0px 5px #ddd;
        align-content: center;
        justify-content: flex-start;
        margin-bottom: 10px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;

        img {
            width: 33.33%;
            height: auto;
            padding: 5px;
            border: solid thin #eee;
            border-collapse: collapse;
        }
        
    }

    &:hover{
        .sequence-thumb{
            border-color: $primary;
            opacity: 0.9;
            box-shadow: 0px 0px 5px $primary;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            
        }

        .sequence-description{
            color: $primary;
        }
    }

    .sequence-description{
        a{
            text-decoration: none;
        }
    }

    .sequence-action{
        margin-bottom: 40px;
    }
}


.sequences-list{
    padding: 15px;
    
    hr{
        border: solid 1px $primary+EE;
    }
    h3{
        text-align: left;
        font-size: 16px;
        margin-bottom: 30px;
        color: #424242;
    }
}

#modal-add-pictogram{
    .modal-content{
        background: rgba(255,255,255,0.9);
    }
    #add-pictogram-list{
        max-height: calc(100vh - 180px);
        overflow-y: auto;
        overflow-x: hidden;
        .pictogram-item{
            cursor: pointer;
            position: relative;
            margin-bottom: 40px;
            img{
                max-width: 100%;
                height: auto;
                margin-bottom: 20px;
            }

            .add-pictogram-button{
                position: absolute;
                left:0;
                right: 0;
                top: 0;
                width: 100%; 
                height: 100%;
                bottom: 0;
                opacity: 0;
                background: linear-gradient(90deg, rgba(91, 189, 219, 0.8) 0%, rgba(96, 146, 200, 0.8) 80%);
                color: #fff;
                transition: all 1s;
                -webkit-transition: all 1s;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 0px 5px rgba(96, 146, 200, 0.8);
                
                span{
                    font-size: 40px;
                }
            }

            &:hover{
                .add-pictogram-button{
                    opacity: 0.95;
                    transition: all 1s;
                    -webkit-transition: all 1s;
                }
            }
        }
    }
}

body main#main section.list .list-table .modal.modal-view-sequence, body main#main .modal.modal-view-sequence{ 
    .modal-dialog{
        .modal-content{

            .modal-header{
                a.edit-sequence, a.delete-sequence{
                    float: left; 
                    text-decoration: none;
                    font-size: 13px;
                    margin-left: 10px;
                    padding-top: 5px;
                    letter-spacing: 0.1px;
                    i.fa, .svg-inline--fa{
                        font-size: 16px;
                    }
        
                    &:hover{
                        color: #222;
                    }
                }
                a.delete-sequence{
                    margin-left: 20px;
                }
            }

            max-height: 95vh;
            overflow-y: auto;

            .modal-body{
                padding: 20px;

                .sequence-view-content{
                    .sequence-description{
                        margin-bottom: 30px;
                    }
                    .row{
                        justify-content: center;
                        .item{
                            cursor: default;

                            img{
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}