h1, .table-title h2, .sidebar-title h2{
    font-family: "Hanken Grotesk", serif !important;
    font-weight: bold;
    color: rgba(96,146,200,1);
}

.display-6{
    font-weight: bold;
    color: rgba(96,146,200,1);
}