 
.toggle-password-group{
    position: relative;
    
    button.toggle-password-btn {
        position: absolute;
        bottom: 3px;
        right: 4px;
        z-index: 9;
        width: 28px;
        height: 30px;
        background: 0;
        border: 0;
        &:active,
        &:focus,
        &:hover {
            cursor: pointer;
        }
        &.toggle-password-btn:focus {
            outline: none !important;
        }
    }
    
    .toggle-password {
        /*padding-right: calc(1.5em + 0.75rem);*/ 
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: 25px auto;
    }
    
    .toggle-password[type=text]:valid {
        background-image: url(../../../images/password-hide.svg) !important;
    }
    
    .toggle-password[type=password]:valid {
        background-image: url(../../../images/password-show.svg) !important;
    }

    .white-toggle.toggle-password[type=text]:valid {
        background-image: url(../../../images/white-password-hide.svg) !important;
    }
    
    .white-toggle.toggle-password[type=password]:valid {
        background-image: url(../../../images/white-password-show.svg) !important;
    }
    
    ::-ms-reveal {
        display: none;
    }
}